$white: #fff;

$black: #000;
$light-black: #222;

$dark-grey: #444;
$medium-grey: #7e7f80;
$light-grey: #f7f7f7;
$lighter-grey: #eee;
$grey: #333;

$purple: #ab8cac;
$dark-purple: #792064;

$green: #66bca1;
$blue: #22a9f1;
$yellow: #ffc000;

$red: #f56060;
$dark-red: #f23030;
